:root {
  font-family: Arial;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: white;
  text-align: center;
  font-family: Arial;
}

div.cardholder {
  display: inline-grid;
  grid-template-columns: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

/* View for desktops */
@media (min-width: 500px) {
  div.cardholder {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

div.card {
  padding: 2.5em 2.5em 2.5em 2.5em;
  background: #F0F9F9;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 16px;
  width: 200px;
  height: auto;
}

img.card {
  width: 5em;
  height: auto;
  align-content: center;
}

/* Link colors */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

a:hover.logo {
  opacity: 1.0;
  text-decoration: none;
}

footer {
  padding-top: 5em;
  padding-bottom: 0.2em;
  font-size: 0.85em;
  width: 100%;
  text-align: center;
  font-family: Arial;
}

button {
  text-align: center;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  width: auto;
  margin: 5px 1px 5px 1px;
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  color: white;
  background-color: black;
}

hr {
  width: 30%;
  color: white;
  background-color: white;
}

/* View for desktops */
@media (min-width: 500px) {
  button.scrollTop {
    position: fixed;
    right: 5%;
    bottom: 0;
    text-align: center;
    background-color: transparent;
    color: black;
    font-weight: normal;
    font-size: 2em;
    width: 80px;
    height: 80px;
    opacity: 0%;
    border: 4px solid black;
    border-radius: 50%;
    margin: 5px 1px 5px 1px;
    padding: 15px 10px 0px 10px;
    cursor: pointer;
  }
}

/* View for mobile devices */
@media (max-width: 500px) {
  button.scrollTop {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 0;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: normal;
    font-size: 2em;
    width: 80px;
    height: 80px;
    opacity: 0%;
    border: 4px solid black;
    border-radius: 50%;
    margin: 5px 1px 5px 1px;
    padding: 15px 10px 0px 10px;
    cursor: pointer;
    animation-name: sizein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes sizein {
    0% {
      transform: scale(0%);
    }

    50% {
      opacity: 100%;
    }

    100% {
      transform: scale(75%);
      opacity: 100%;
    }
  }
}

/*  @media (prefers-color-scheme: dark) {
    body {
      background: #0f0f0f;
      color: white;
      text-align: center;
      font-family: Arial;
    }

    a:link {
      color: white;
      text-decoration: none;
    }

    a:visited {
      color: white;
      text-decoration: none;
    }
  }
  */
