:root {
  font-family: Arial;
}

body {
  background: white;
  text-align: center;
  font-family: Arial;
}

div.card {
  display: inline-block;
  margin: 0em 1em 1em 1em;
  padding: 2.5em 2.5em 2.5em 2.5em;
  background: #F0F9F9;
  border-width:2px;
  border-style:solid;
  border-color:blacks;
  border-radius: 16px;
  width: 200px;
  height: auto;
}

img.card {
  width: 5em;
  align-content: center;
}

/* Link colors */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

a:hover.logo {
  opacity: 1.0;
  text-decoration: none;
}

footer {
  padding-top: 5em;
  font-size: 0.85em;
  width: 100%;
  text-align: center;
  bottom: 5%;
  font-family: Arial;
}

button {
  text-align: center;
  background-color: white;
  color: black;
  border-color: #004208;
  border-radius: 15px;
  width: auto;
  margin: 20px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
}

hr {
  width: 30%;
  color: white;
  background-color: white;
}

@media (prefers-color-scheme: dark) {

  /* If the operating system is using dark mode, then apply this CSS */
  body {
    background: #0f0f0f;
    color: white;
    text-align: center;
    font-family: Arial;
  }

  /* Link colors */
  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }
}
